@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "choices.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}



